<!DOCTYPE html>
<html lang="en">

<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="0">
    <meta charset="UTF-8">
    <title>Register</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:400,700'>
<!--    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>-->
    <link rel="stylesheet" th:href="@{/login/css/style.css}"><!-- href="../static/login/css/style.css"-->

    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <script th:src="@{/login/js/index.js}"></script>
    <script th:inline="javascript">

        function lo() {

            $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
        }

            function checkPass() {
                var a = $('#p2').val()
                var b = $('#p1').val();

                if (a == b) {
                    $('#again').html("<div class='message' hidden='hidden' style='font-size: 4px;'>输入正确</div>");
                } else {
                    $('#again').html("<div class='message' style='font-size: 4px; color: red'>两次输入的内容不同</div>")
                }
            }

            function nameCheck() {
                var name = $('#name').serialize();
                //alert(name);
                $.ajax({
                    url: "/namecheck",
                    type: "POST",
                    data: name,
                    success: function (res) {
                        //alert(res);</
                        // alert($('#attation').innerHTML)
                        if (res == "老铁没毛病") {
                            $('#attation').html("<div class='message' style='font-size: 4px'>" + res + "</div>");
                        } else {
                            $('#attation').html("<div class='message' style='font-size: 4px;color: red'>" + res + "</div>");
                        }
                    },
                    error: function (jqXHR) {
                        alert("ERROR:?name = " + jqXHR.status)
                    }

                })
            }
    </script>
<body onload="lo()">
<div class="container">
    <div class="info">
        <h1>Register</h1>
    </div>
</div>
<div class="form">
    <div class="thumbnail">
        <img th:src="@{/login/css/hat.svg}"/>
    </div>
    <form class="register-form" action="#" th:action="@{/register}" method="post">
        <input type="text" placeholder="name" id="name" name="name" onblur="nameCheck()"/>
        <h6 id="attation" class="col-sm-pull-1" style="color: #b92c28 ;font-family: 微软雅黑 ;font-size: 3px">注意：用户名即昵称</h6>
        <br>
        <input id="p1" type="password" placeholder="password" name="pass" onblur="checkPass()"/>
        <p></p><br>
        <input id="p2" type="password" placeholder="again" name="again" onblur="checkPass()">

        <p id="again"></p>
        <p></p><br>
        <button>create</button>
    </form>



</div>

</body>

</html>
