<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wind.server.mapper.LoginMapper">
	
<!--	<select id="queryList" resultType="com.qdu.questionnaires.beans.User">-->
<!--	SELECT  *-->
<!--	FROM user-->
<!--	</select>-->

	<select id="pass" resultType="java.lang.String">
	SELECT pass
	FROM user WHERE name = #{name}
	</select>

	<select id="Check" resultType="java.lang.Integer">
	SELECT COUNT(*)
	FROM user
	WHERE name  = #{name}
	</select>
	<insert id="insertUser">
	insert into
		user(name,pass)
	value
		(#{name},#{pass})
	</insert>

</mapper>



